{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/lobby.css' %}">
    <title>Lobby</title>
</head>
<body>
<div class="containerr">
    <div class="linkhome" style="position: absolute">
        <a href="{% url 'home' %}">Back Home</a>
    </div>
    <div class="chat">
        <div class="cardd">
            <div class="card-header msg_head">
                <div class="d-flex bd-highlight">
                    <div class="img_cont">
                        <img src="{{ user.avatar.url }}" alt="avatar"
                             class="rounded-circle user_img">
                        <span class="online_icon"></span>
                    </div>
                    <div class="user_info">
                        <span>{{ user.username|upper }}</span>
                        {#									<p>1767 Messages</p>#}
                    </div>
                </div>
                <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
            </div>
            <div class="card-body msg_card_body" id="messages">
                {% for message in messages %}
                    {% if message.sender.username == me.username %}
                        <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                {{ message }}
                            </div>
                            <div class="img_cont_msg">
                                <img src="{{ me.avatar.url|safe }}"
                                     class="rounded-circle user_img_msg">
                            </div>
                        </div>

                    {% else %}
                        <div class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <img src="{{ user.avatar.url|safe }}"
                                     class="rounded-circle user_img_msg">
                            </div>
                            <div class="msg_cotainer">
                                {{ message }}

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

        </div>
        <div class="card-footer">
            <div class="input-group">

                <form action="" method="post" id="form">
                    {% csrf_token %}
                    <input name="message" class="type_msg" placeholder="Type your message..." required>
                    <div class="inputt">
                        <button class="send_btn" type="submit"><img
                                src="https://sfarseniybucket.s3.amazonaws.com/static/send_80_w.png" alt=""
                                style="width: 48px; height: 58px"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#action_menu_btn').click(function () {
            $('.action_menu').toggle();
        });
    });

    {#let url = `ws://${window.location.host}/` + 'arseniy'#}
    let url = `ws://127.0.0.1:8000/` + window.location.pathname
    console.log(url)

    const chatSocket = new WebSocket(url)

    chatSocket.onopen = function (e) {
        console.log("Connection is opened!")
    }

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data)
        console.log(data)

        if (data.type === 'chat') {
            let message = document.getElementById('messages')
            let sender1 = data.username
            let mes = ''
            console.log('{{ user.username|safe }}')
            if (sender1 === '{{ user.username|safe }}') {
                mes = `
                <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                    <img src="{{ user.avatar.url|safe }}"
                         class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                    ${data.message}

                </div>
            </div>
            `
            } else {
                mes = `
                <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                        ${data.message}
                    </div>
                    <div class="img_cont_msg">
                        <img src="{{ me.avatar.url|safe }}"
                             class="rounded-circle user_img_msg">
                    </div>
                </div>
            `
            }

            {#message.insertAdjacentHTML('beforeend',#}
            {#    `<div><p>[${data.username}] -> ${data.message}</p></div>`)#}
            message.insertAdjacentHTML('beforeend', mes)
        }
    }

    let form = document.getElementById('form')
    form.addEventListener('submit', (e) => {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'message': message
        }))
        form.reset()
    })
</script>
</body>
</html>