{% extends 'head.html' %}

{% block content %}
    <div class="videos row g-3">
        {% if videos %}
            {% for video in videos %}
                <div class="video col">
                    <div class="thumbnail">
                        <a href="{% url 'post_detail' video.id %}">
                            <img src="{{ video.videoThumb.url }}" alt="video" class="img-fluid">
                        </a>
                    </div>

                    <div class="details">
                        <div class="author">
                            {% if request.user.email != video.videoAuthor.authorName.email %}
                                <a href="{% url 'chat' video.videoAuthor.authorName %}">
                                    <img src="{{ video.videoAuthor.authorName.avatar.url }}"
                                         alt=""/>
                                </a>
                            {% else %}
                                <img src="{{ video.videoAuthor.authorName.avatar.url }}"
                                     alt=""/>
                            {% endif %}
                        </div>
                        <div class="title">
                            <h3>
                                {{ video.videoHeader }}
                            </h3>
                            {% if request.user.email != video.videoAuthor.authorName.email %}
                                <a href="{% url 'chat' video.videoAuthor.authorName %}">
                                    {{ video.videoAuthor.authorName|upper }}
                                </a>
                            {% else %}
                                <a href="">{{ video.videoAuthor.authorName|upper }}</a>
                            {% endif %}
                            <span> {{ video.videoViews }} • 3 Months Ago </span>
                        </div>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <h1>No videos yet!</h1>
        {% endif %}
    </div>
{% endblock %}

