{% extends 'head.html' %}

{% block content %}
    <div class="pageVideo">
        {% if video %}
            <div class="videoPLayer">
                <div class="thumbnail">
                    <video
                            width="780px"
                            height="500px"
                            aspect-ratio="16/9"
                            autoplay
                            controls
                            {#                            poster="{{ video.videoThumb.url }}"#}

                    >
                        <source src="{{ video.videoSource.url }}" type="video/mp4">
                    </video>
                </div>

                <div style="display: flex; align-items: center; margin: 0 20px">
                    <div class="details">
                        <div class="author">
                            {% if request.user.email != video.videoAuthor.authorName.email %}
                                <a href="{% url 'chat' video.videoAuthor.authorName %}">
                                    <img src="{{ video.videoAuthor.authorName.avatar.url }}"
                                         alt=""/>
                                </a>
                            {% else %}
                                <img src="{{ video.videoAuthor.authorName.avatar.url }}"
                                     alt=""/>
                            {% endif %}

                        </div>
                        <div class="title">
                            <h3>
                                {{ video.videoHeader }}
                            </h3>
                            {% if request.user.email != video.videoAuthor.authorName.email %}
                                <a href="{% url 'chat' video.videoAuthor.authorName %}">
                                    {{ video.videoAuthor.authorName|upper }}
                                </a>
                            {% else %}
                                <a href="">{{ video.videoAuthor.authorName|upper }}</a>
                            {% endif %}
                            <span> {{ video.videoViews }} • 3 Months Ago </span>
                        </div>
                    </div>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="description">
                        <a href="{% url 'post_like' video.id %}" class="btn btn-primary">Лайк {{ video.videoLikes }}</a>
                        <a href="{% url 'post_dislike' video.id %}"
                           class="btn btn-primary">Дизлайк {{ video.videoDisLikes }}</a>
                        {% if request.user != video.videoAuthor.authorName and not subscribe %}
                            <a class="btn btn-success" href="{% url 'subscribe' video.videoAuthor.authorName %}">Subscribe</a>


                        {% elif request.user != video.videoAuthor.authorName %}
                            <a class="btn btn-danger" href="{% url 'unsubscribe' video.videoAuthor.authorName %}">Unsubscribe</a>

                        {% endif %}
                    </div>
                </div>

            </div>

        {% else %}
            <h1>No videos yet!</h1>
        {% endif %}
    </div>

{% endblock %}

